<!-- <app-header></app-header> -->
<div class="breadcrumb-section set-bg" data-setbg="assets/images/breadcrumb.jpg" style="background-image: url('assets/images/breadcrumb.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__text">
          <h2>About Us</h2>
          <div class="breadcrumb__option">
            <a href="">Home</a>
            <span>- About Us</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-about">

  <div class="develop-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="about__text">
            <div class="about-title">
              <h2>Bring what you love to <br>what you do.</h2>
            </div>
            <div class="about-content">
              <q style="text-align: justify;">Do you love music? Photography? Fitness? Games? Video? Whatever your passion, bring it. Because sharing what you love through Apple products sparks others to pursue their own passions. And that’s why we’re continuously reinventing the retail experience: to open up all kinds of potential for our customers — and you.</q>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <img src="assets/images/about/about-2.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="story-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img src="assets/images/about/about-1.jpg" alt="">
        </div>
        <div class="col-lg-6">
          <div class="about__text">
            <div class="about-title">
              <h2>The power of Apple. <br> Put to work.</h2>
            </div>
            <div class="about-content">
              <q style="text-align: justify;">When the world changes, business changes too. Apple hardware, software, and services work together to give your employees the power and flexibility to do whatever needs doing — wherever that may be.</q>
              <p style="text-align: justify;"><span>Apple</span> hardware, software, and services work together to deliver a seamless experience that just works. You can start a project on Mac and finish it on iPad, use your screens side by side to extend your workspace, and even draw with Apple Pencil on your iPad or use your iPhone to make live updates on your Mac. And it’s all compatible with apps from Microsoft and Google, so your team has everything it needs to get any job done.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <div class="section-qualify">
    <div class="container">
      <div class="qualify-title">
        <h2>Qualify</h2>
      </div>
      <div class="qualify-content">
          <div class="row">
            <div class="col-lg-4">
              <div class="qualify">
                <i class="far fa-thumbs-up"></i>
                <h4>High Qualify</h4>
                <p>Most of the products we supply are tested through the production stages. Always the top trusted product in terms of quality and use.</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="qualify">
                <i class="fas fa-shield-alt"></i>
                <h4>Safe Quatity</h4>
                <p>During the production process, we also ensure that the quality of all products is further checked so that the product is delivered to the best standard.</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="qualify">
                <i class="fas fa-headset"></i>
                <h4>Customer Care</h4>
                <p>Our mission is to provide the best service to customers, to help you enjoy the best shopping experience. We love interacting with our customers and we welcome feedback on your services.</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <app-footer></app-footer> -->
