<!-- <app-header></app-header> -->
<div class="breadcrumb-section set-bg" data-setbg="assets/images/breadcrumb.jpg" style="background-image: url('assets/images/breadcrumb.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__text">
          <h2>Shop</h2>
          <div class="breadcrumb__option">
            <a href="">Home</a>
            <span>- Shop</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-product__detail">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="product-detail__img">
          <img src="assets/images/product/product-1.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="product-detail__text">
          <h3>iPhone 12 Pro Max - Silver</h3>
          <h4> $1099 </h4>
          <p>
            <strong>Status</strong><br>
            100% new machine, genuine Apple.
            CellphoneS is currently an authorized reseller of genuine iPhone
            <br><strong>Box includes</strong><br>            
            Body, USB-C to Lightning cable, Manuals
          </p>
          <div class="product-detail__quantity">
            <!-- <div class="quantity">
              <div class="pro-qty">
                <span class="dec qtybtn">-</span>
                <input type="text" value="1">
                <span class="dec qtybtn">+</span>
              </div>
            </div>
          </div> -->
          <a href="/cart" class="primary-btn">ADD TO CART</a>
          <ul>
            <li>
              <b>Screen</b>
              <span>6.7 inches</span>
            </li>
            <li>
              <b>Screen technology</b>
              <span>OLED</span>
            </li>
            <li>
              <b>RAM capacity</b>
              <span>6GB</span>
            </li>
            <li>
              <b>Internal memory</b>
              <span>128GB</span>
            </li>
            <li>
              <b>Operating System</b>
              <span>iOS 14.1 or higher (Depending on release version)</span>
            </li>
            <li>
              <b>Battery</b>
              <span>Li-Ion, 20W fast charging, 15W wireless charging</span>
            </li>
            <li>
              <b>Rear camera</b>
              <span>12 MP, f/1.6, 26mm (wide), 1.4µm, dual pixel PDAF, OIS
                12 MP, f/2.0, 52mm (telephoto), 1/3.4", 1.0µm, PDAF, OIS, 2x optical zoom
                12 MP, f/2.4, 120˚, 13mm (ultrawide), 1/3.6"
                TOF 3D LiDAR scanner (depth)</span>
            </li>
            <li>
              <b>Front camera</b>
              <span>12 MP, f/2.2, 23mm (wide), 1/3.6" SL 3D</span>
            </li>
            <li>
              <b>Chipset</b>
              <span>Apple A14 Bionic </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-product__info">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="product-des">
          <div class="product-des__title">
            <h5>Description</h5>
          </div>
          <div class="product-des__text">
            <p style="text-align: justify;">
              <strong> 12 Pro Max: Raise the level of use</strong> <br>
              Every year, towards the end of August and near the beginning of September, all the hot information about the new iPhone reappears. Apple this year remake a new iPhone with the new name iPhone 12 Pro Max, this is a new and most powerful phone line of Apple this year. Please refer to some of the products described below so that you can make a purchasing decision.
              <br>
              <strong> Super Retina XDR</strong><br>
              This year, the screen technology on the 12 Pro Max is also changed and better equipped with the same size up to 6.7 inches, larger than the iPhone 12. With OLED screen technology to display images Image uploaded to 2778 x 1284 pixels. Besides, this screen also gives the highest maximum light level of up to 800 nits, always ensuring you a high level of brightness and the best visibility in the sun.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="product-related">
          <div class="product-related__title">
            <h5>Related Product</h5>
          </div>
          <div class="product-related__img">
            <a ><img src="assets/images/product/product-2.jpg" alt=""></a>
            <a ><img src="assets/images/product/product-3.jpg" alt=""></a>
            <a ><img src="assets/images/product/product-4.jpg" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-reviews">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="reviews-title">
          <h4>Review</h4>
        </div>
        <form action="" class="reviews-form">
          <textarea class="message-col-12" name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
          <a href="" class="primary-btn">FEED BACK</a>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <app-footer></app-footer> -->
